#image-preview {
	width: 200px;
	height: 200px;
	position: relative;
	overflow: hidden;
	background-color: #ffffff;
	color: #ecf0f1;
}

#image-preview input {
	line-height: 200px;
	font-size: 200px;
	position: absolute;
	opacity: 0;
	z-index: 10;
}

#image-preview label {
	position: absolute;
	z-index: 5;
	opacity: 0.8;
	cursor: pointer;
	background-color: #bdc3c7;
	width: 200px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	text-transform: uppercase;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
}

.card-login {
	border-radius: 24px
}

.error {
	color: red !important;
	font-size: 0.9rem !important;
}

.rowt {
	display: flex;
	flex-wrap: wrap;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
	flex: 33.33%;
	padding: 5px;
	max-width: 33.33%;
  }

  @media (max-width: 800px) {
	.column {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
	.column {
	  flex: 50%;
	  max-width: 50%;
	}
  }